/Estructuras condicionales/Java/Ejercicio 12-Numero en concordancia/build/
/Estructuras condicionales/Java/Ejercicio 13-Meses del año/nbproject/private/
/Estructuras condicionales/Java/Ejercicio 14-Cajero Automatico/nbproject/private/
/Estructuras condicionales/Java/Ejercicio 14-Cajero Automatico/build/
/Estructuras condicionales/Java/Ejercicio 15-Opciones de casos/nbproject/private/
/Estructuras condicionales/Java/Ejercicio 15-Opciones de casos/build/
/Estructuras condicionales/Java/Ejercicio 16-Numero Divisible/nbproject/private/
/Estructuras condicionales/Java/Ejercicio 16-Numero Divisible/build/
/Estructuras condicionales/Java/Ejercicio 16-Numero Divisible/dist/
/Estructuras condicionales/Java/Ejercicio 17-Año bisiesto/nbproject/private/
/Estructuras condicionales/Java/Ejercicio 17-Año bisiesto/build/
/Estructuras condicionales/Java/Ejercicio 18-Longitud de Caracteres/nbproject/private/
/Estructuras condicionales/Java/Ejercicio 18-Longitud de Caracteres/build/
/Estructuras condicionales/Java/Ejercicio 19-Puede Votar/nbproject/private/
/Estructuras condicionales/Java/Ejercicio 19-Puede Votar/build/
/Estructuras condicionales/Java/Ejercicio 20-Rango de Numeros 2/nbproject/private/
/Estructuras condicionales/Java/Ejercicio 20-Rango de Numeros 2/build/
/Estructuras condicionales/Java/Ejercicio 21-Rango de Numeros 3/nbproject/private/
/Estructuras condicionales/Java/Ejercicio 21-Rango de Numeros 3/build/
/Estructuras condicionales/Java/Ejercicio 22-Determinar Palabra/nbproject/private/
/Estructuras condicionales/Java/Ejercicio 22-Determinar Palabra/build/
